*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1b1b1b;
}
#button{
    padding: 10px 20px;
    position: fixed;
    bottom: 50%;
    right: 50%;
    cursor: pointer;
    border: solid rgba(255,255,255,0.70) 2px;
    background-color: rgba(255,255,255,0.20);
    color: aliceblue;
    animation: button 3s infinite;
}
@keyframes button {
    0% {
        border: solid rgba(255,255,255,0.70) 2px;
        background-color: rgba(255,255,255,0.20);
    }
    50% {
        border: solid rgba(255,255,255,0.30) 2px;
        background-color: rgba(255,255,255,0.05);
    }
    100% {
        border: solid rgba(255,255,255,0.70) 2px;
        background-color: rgba(255,255,255,0.20);
    }
}